<header class="header">
  <div class="header--image" style="background-image:url(https:/www.wellcertified.com/sites/all/themes/iwbi_new/assets/backgrounds/people-background.png);background-color:#000;">
    <div class="row">
      <div class="column small-12">
        <h1>{{ site.title }}</h1>
        <h4>{{ site.metadata.description }}</h4>
      </div>
    </div>
  </div>
</header>
